<h1 class="text-center display-1 pt-5 pb-5">Add User</h1>
<div class="col-md-6 offset-3">
  <form class="example-container" (ngSubmit)="sumbit()">
    <mat-form-field>
      <input matInput placeholder="First Name" [formControl]="firstName">
      <mat-error *ngIf="firstName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" [formControl]="lastName">
      <mat-error *ngIf="lastName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Role">
        <mat-option value="Admin">Admin</mat-option>
        <mat-option value="User">User</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="firstName.invalid || lastName.invalid">Submit</button>
  </form>
</div>
